<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <% if(login) { %>
    <h1><%= name %>님 안녕하세요!</h1>
    <form>
      <button type="button" onclick="logout()">로그아웃</button>
    </form>
    <% } else { %>
    <h1>안녕하세요 여기는 홈입니다</h1>
    <a href="/register">회원가입 하러가기</a>
    <a href="/login">로그인 하러가기</a>
    <% } %>
    <script>
      async function logout() {
        try {
          const result = await axios({
            url: "/logout",
            method: "post",
          });
          // const {delete} = result.data
          if (result.data.delete) {
            alert("로그아웃에 성공하셨습니다.");
            document.location.href = "/";
          } else {
            alert("이미 세션이 만료되었습니다.");
            document.location.href = "/";
          }
        } catch (err) {
          console.log("err", err);
          res.status(500).send("server error");
        }
      }
    </script>
  </body>
</html>
